html{
    scrollbar-color: #fafafa #1a1a1a;
    scrollbar-width: thin;
}

*{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    font-family: "DM Sans", sans-serif;
    transition: 250ms;
}

body{
    background: url(..//../assests/images/Darius.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

button,
input,
textarea{
    border: none;
    outline: none;
    background-color: transparent;
}