main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  font-size: 40px;
  padding: 50px 350px 60px 40px;
  border: 3px solid #fafafa;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
}
main .mainContainer div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .mainContainer div span {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
main .mainContainer button {
  padding: 10px 70px 10px 70px;
  font-size: 20px;
  margin-top: 30px;
  background-color: #272727;
  border-radius: 10px;
  opacity: 0.85;
}
main .mainContainer button:hover {
  opacity: 1;
  scale: 1.1;
  cursor: pointer;
}
main .mainContainer .undContDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 300px;
}

html {
  scrollbar-color: #fafafa #1a1a1a;
  scrollbar-width: thin;
}

* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  -webkit-transition: 250ms;
  transition: 250ms;
}

body {
  background: url(..//../assests/images/Darius.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}